@media screen and (max-width:1400px) {
    #profile {
        display: none;
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }

}


@media screen and (max-width:1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }

    .hamburger-icon span {
        display: initial;
    }

    #experience,
    .experience-details-container {
        margin-top: 2rem;
    }

    #profile,
    .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section,
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0.5%;
    }

    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }
}


@media screen and (max-width:400px) {

    #contact,
    footer {
        height: 30vh;
        margin-left: 50px;

    }

    .hamburger-icon span {
        margin-right: 2px;
        margin-left: 8.5rem;
        display: initial;

    }

    .menu-links {
        margin-left: 6rem;
        margin-right: -9rem;
        background-color: rgb(213, 193, 193);
        border-radius: 2rem;
        height: 250px;

    }

    #profile {
        height: 40vh;
        width: 30vh;
    }

    .section__pic-container {
        margin-top: 10rem;
        margin-right: -5rem;
    }

    .section__text {
        margin-top: 180px;
        margin-left: -5px;
    }


    .btn-container {
        margin-right: 8px;
    }

    #socials-container {
        margin-top: 80px;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    #projects {
        margin-top: 30px;
        margin-left: 50px;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #profile-img {
        margin-top: 5rem;
        height: 15rem;
        width: 10rem;
        margin-left: 7.5rem;
        margin-bottom: -10rem;
    }

    .section__pic-container img {
        margin-top: -50px;
        margin-right: -10px;
    }

    .section__text {
        margin-top: 10rem;
    }

    .text-container {
        text-align: justify;
    }

    #about {
        margin-top: 280px;
        margin-left: 50px;
    }

    #experience {
        margin-left: 50px;

    }

    #contact {
        padding: 0;
        margin-left: 50px;
        margin-top: 80px;

    }

    #contact h1 {
        margin-bottom: 5rem;
    }

    #contact .contact-info-upper-container {
        margin-top: -80px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .nav-links {
        margin-top: -20px;
        padding: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}


@media screen and (max-width:855px) {

    #contact,
    footer {
        height: 30vh;
        margin-left: 50px;

    }

    .hamburger-icon span {
        margin-right: 2px;
        margin-left: 8.5rem;
        display: initial;

    }

    .menu-links {
        margin-left: 6rem;
        margin-right: -9rem;
        background-color: rgb(213, 193, 193);
        border-radius: 2rem;
        height: 250px;

    }

    #profile {
        height: 40vh;
        width: 30vh;
    }

    .section__pic-container {
        margin-top: 10rem;
        margin-right: -5rem;
    }

    .section__text {
        margin-top: 180px;
        margin-left: -5px;
    }


    .btn-container {
        margin-right: 8px;
    }

    #socials-container {
        margin-top: 80px;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    #projects {
        margin-top: 30px;
        margin-left: 50px;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #profile-img {
        margin-top: 5rem;
        height: 15rem;
        width: 10rem;
        margin-left: 7.5rem;
        margin-bottom: -10rem;
    }

    .section__pic-container img {
        margin-top: -50px;
        margin-right: -10px;
    }

    .section__text {
        margin-top: 10rem;
    }

    .text-container {
        text-align: justify;
    }

    #about {
        margin-top: 280px;
        margin-left: 50px;
    }

    #experience {
        margin-left: 50px;

    }

    #contact {
        padding: 0;
        margin-left: 50px;
        margin-top: 80px;

    }

    #contact h1 {
        margin-bottom: 5rem;
    }

    #contact .contact-info-upper-container {
        margin-top: -80px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .nav-links {
        margin-top: -20px;
        padding: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}


@media screen and (max-width:1180px) {
    #profile-img {
        margin-left: 17rem;
        height: 400px;
        width: 300px;
    }

    img.icon {
        height: 30px;
    }



    .section__text p {
        font-weight: 600;
    }

    .section__text__p1 {
        text-align: center;
        font-size: 2rem;
    }

    .section__text__p2 {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }

    .title {
        font-size: 4rem;
        text-align: center;
    }

    #socials-container {
        display: flex;
        justify-content: center;
        margin-top: 5rem;
        gap: 2rem;
    }

    /* icons */
    .icon {
        cursor: pointer;
        height: 2rem;
    }

    /* buttons */
    .btn-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .btn {
        font-weight: 800;
        transition: all 300ms ease;
        padding: 1rem;
        width: 10rem;
        border-radius: 2rem;
    }

    .btn-color-1,
    .btn-color-2 {
        border: rgb(53, 53, 53)0.1rem solid;
    }

    .btn-color-1:hover,
    .btn-color-2:hover {
        cursor: pointer;
    }


    .btn-color-1:hover,
    .btn-color-2:hover {
        background-color: rgb(53, 53, 53);
        color: white;
    }

    .btn-color-2 {
        background: none;
    }

    .btn-color-2:hover {
        border: rgb(255, 255, 255) 0.1rem solid;
    }

    .btn-color-1 {
        background: none;
    }


    .btn-container {
        gap: 1rem;
    }

    #about {
        margin-right: 2rem;
    }

    #experience {
        margin-right: 2rem;
    }

    #projects {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
    }

    #contact {
        margin-top: 10rem;
    }
}

@media screen and (max-width:660px) {

    #contact,
    footer {
        height: 30vh;
        margin-left: 50px;

    }

    .hamburger-icon span {
        margin-right: 2px;
        margin-left: 8.5rem;
        display: initial;

    }

    .menu-links {
        margin-left: 6rem;
        margin-right: -9rem;
        background-color: rgb(213, 193, 193);
        border-radius: 2rem;
        height: 250px;

    }

    #profile {
        height: 40vh;
        width: 30vh;
        margin-top: 20rem;
    }

    .section__pic-container {
        margin-top: 10rem;
        margin-right: -5rem;
    }

    .section__text {
        margin-top: 180px;
        margin-left: -5px;
    }


    .btn-container {
        margin-right: 8px;
    }

    #socials-container {
        margin-top: 80px;
    }

    article {
        font-size: 1rem;
    }

    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers,
    .contact-info-upper-container,
    .btn-container {
        flex-wrap: wrap;
    }

    .contact-info-container {
        margin: 0;
    }

    .contact-info-container p,
    .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.5rem;
    }

    #projects {
        margin-top: 30px;
        margin-left: 50px;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #profile-img {
        margin-top: 5rem;
        height: 15rem;
        width: 10rem;
        margin-left: 7.5rem;
        margin-bottom: -10rem;
    }

    .section__pic-container img {
        margin-top: -50px;
        margin-right: -10px;
    }

    .section__text {
        margin-top: 10rem;
    }

    .text-container {
        text-align: justify;
    }

    #about {
        margin-top: 280px;
        margin-left: 50px;
    }

    #experience {
        margin-left: 50px;

    }

    #contact {
        padding: 0;
        margin-left: 50px;
        margin-top: 80px;

    }

    #contact h1 {
        margin-bottom: 5rem;
    }

    #contact .contact-info-upper-container {
        margin-top: -80px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .nav-links {
        margin-top: -20px;
        padding: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}

