@media screen and (max-width:1400px){
    #profile{
        display: none;
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers{
        flex-wrap: wrap;
    }
  
    }


@media screen and (max-width:1200px){
    #desktop-nav{
        display: none;
    }

    #hamburger-nav{
display: flex;
    }

    #experience,
    .experience-details-container{
        margin-top: 2rem;
    }

    #profile,
    .section-container{
        display: block;
    }
    .arrow{
        display: none;
    }
    section,
    .section-container{
        height: fit-content;
    }
    section{
        margin: 0.5%;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top: 0;
    }
}

@media screen and (max-width:400px){
    
    #contact,
    footer{
        height: 30vh;
        margin-left: 50px;

    }

    .hamburger-icon{
        margin-left: 410px;
    }
    .hamburger-icon span{
       
        display: initial;
    }
    
    #profile{
        height: 40vh;
        margin-bottom: 0;
    }
    .section__text{
        margin-top: 180px;
        margin-left: -5px;
    }
    .btn-container{
       margin-right: 8px;
    }

    #socials-container{
        margin-top: 80px;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container{
        flex-wrap: wrap;
    }

    .contact-info-container{
        margin: 0;
    }
    .contact-info-container p,
    .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size:1.25rem ;
    }
    .logo{
        font-size: 1.5rem;
    }

    #projects{
        margin-top: 30px;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section__pic-container img{
        margin-top: -50px;
        margin-right: -10px;
    }
    .section__text__p2{
        font-size: 1.25rem;
        margin-top: -80px;
    }
    .title{
        font-size: 2rem;
        margin-bottom: 80px;
       
    }
    .text-container{
        text-align: justify;
    }

    #about{
        margin-top: 280px;
        margin-left: 50px;
    }
    #experience{
        margin-left: 50px;

    }
    #contact{
        padding: 0;
        margin-left: 50px;

    }
    #contact .contact-info-upper-container{
        margin-top: -80px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
#projects{
    margin-left: 50px;

}
    .nav-links{
        margin-top: -20px;
        padding: 0;
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
    }


